@import 'assets/styles/biomatic.full.min.css';

/* Begin your default styles here */
._ratio {
  background: #333;
  width: 50%;

  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
